* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
/* pagina inicial*/
#pgInicial{
    align-items: center;
    text-align: center ;
    font-size: 45px ;
    display: flexbox;
}

#logoPgInicial{
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    margin: auto !important;
    display: block !important;
    width: 40% !important;
}

#tituloPgInicial{
    font-size: 65px;
    padding-right: 55px;
    padding-bottom: 160px ; 
      
}


.hide {
    display: none !important;
}


/* banner */
body {
    background-image: url("../img/Fundo.png");
    background-size: cover;

    
}

header {
    padding: 1rem;
    margin: 0 8px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 30px;  
    position:absolute;
    padding-top: 50px;

}
h5{
    font-size: 0.8rem;

}

main {
    padding: 5px 0;
    text-align: center; 
}



h2{
    font-weight: bold;
    font-size: 2rem;
   


}

div {
    padding:3px;




}

#gen, #id, #pe, #al, #fatAt, #fatInj, #result {
    font-size: 25px;
    font-weight: bold; 
  
}

#pe {
    margin-left: -31px;
}

#inputIdade {
    margin-left: 50px;
}

input {
    text-align: center;
    color: black !important;
    font-size: 20px;
    height: 30px;
    cursor: pointer;
}

#generoF, #generoM {
    font-size: 27px;
    cursor: pointer;
    padding: 0 10px 0 0;
}

.radio {
    cursor: pointer;
    width: 25px;
    align-content: center;
    align-items: center;
}

#peso, #altura, #inputAltura, #inputPeso {
    width: 50%;
    align-content: space-between;
}

div #fa, div #fi, option {
    color: black !important;
    font-size: 20px;
    width: 89%;
    height: 35px;
    cursor: pointer;
}

#fi{
    margin-bottom: 30px;
}

#inputIdade{
    width: 30%;
}

a {
    font-size: 20px;
}

/* botão */
#calc, #iniciar, #novaConsult {
    display: block;
    width: 50%;
    margin: auto;
    background-color: rgb(245, 118, 0);
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 40% ;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;

}

#inputFA {
    font-size: 20px;
    width: 90%;
    height: 35px;
    cursor: pointer;
    border: .5px solid transparent;

}
.dropDown{
    font-size: 20px;
    width: 89.3%;
    height: 90px;
    cursor: pointer;
    border: 5px solid transparent;
    overflow: auto;
    background-color: #FFF;
    margin-left: 18px;
    display: none;
}

.item {
    height: 30px;
    padding: 0 2px;
    box-sizing: border-box;
    transition: .3x;
    cursor: pointer;
    color: rgb(15, 8, 1);
    
}

.item:hover{
    background-color: rgb(248, 230, 209);
    padding-left: 7px;
    transition: .3s;
}

/* pag resultado */

#result {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    
    
}
#result-container {
    text-align:left;
    margin-left: 10px;
    font-size: 25px;

    
}

#novaConsult {
    display: block;
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: rgb(245, 118, 0);
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 40%;
    cursor: pointer;
    text-decoration: none;
    
}

#btn-consult {
    padding-top: 200px;
    

}
#logo {
    width: 45%;
    position:relative;
}

@media (max-width: 530px) {
    #logo {
        width: 30%;
        position:relative;
    }
    
    
}

footer {
    font-size: 14px;
    text-align: center;
}
.email {
    font-size: 14px;
    color: rgb(248, 248, 248);

}
